.sign-up 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sign-up input
{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    
}

.sign-up button 
{
    width: 520px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.sign-up-btn
{
    background-color: rgb(38, 132, 55);
}

.sign-google-btn
{
    background-color: rgb(35, 35, 109);
}

.error-signUp{
    color: red;
}

.Sign-in{
    color: rgb(0, 145, 255);
}

.have-account{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}