nav {
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: gray;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
}

.navbar-list li {
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.87);
}

.navbar-list li:hover {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.logo-nav {
  color: rgba(255, 255, 255, 0.87);
}

.nav-search {
  height: 30px;
  border: none;
  border-radius: 10px;
}
